@using HairSalon.Models;
@{
  Layout = "_Layout";
}

<h2>//STYLIST DETAILS//</h2>
<h3>NAME: @Model.GetName()<br>
SPECIALTY: @Model.GetSpecialty()</h3>

<h3>HERE ARE ALL THE CLIENTS FOR THIS STYLIST:</h3>

@* <ul>
@foreach (var client in @Model["clients"])
{
  <li><a href='/stylists/@Model["stylist"].GetId()/clients/@client.GetId()'>@client.GetNameClient()</a></li>
}
</ul> *@

<ol>
@foreach (Client client in @Model.GetClients())
{
  <li><a href='/stylists/@Model.GetId()/clients/@client.GetId()'>@client.GetNameClient()</a></li>
}
</ol>


<p><a href='/stylists/@Model.GetId()/clients/new'>ADD A NEW CLIENT</a></p>
<p><a href='/stylists'>RETURN TO STYLIST LIST</a></p>

<br><br>
<form action="/stylists/@Model.GetId()/delete-stylist" method="post">
<button type="submit" name="button">DELETE THIS STYLIST</button>
</form>
<p><a href='/'>RETURN TO HOME</a></p>
